beautifulsoup4==4.5.1
boto==2.40.0
bs4==0.0.1
chardet==2.3.0
cryptography==1.5
cycler==0.10.0
decorator==4.0.6
enum34==1.1.6
idna==2.1
ipaddress==1.0.16
ipython==2.4.1
matplotlib==1.5.3
ndg-httpsclient==0.4.2
numpy==1.21.0
pexpect==4.2.0
ptyprocess==0.5.1
pyasn1==0.1.9
pyOpenSSL==17.5.0
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
requests==2.20.0
selenium==3.0.1
simplegeneric==0.8.1
six==1.10.0
urllib3==1.24.2
